.container {
    width: 100%;
}

.cardContainer {
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
    padding: 2em 1em;
    box-sizing: border-box;
}

.cardCode {
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    background-color: rgb(25, 25, 25, 0.9);
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
    padding: 2em 1em;
    box-sizing: border-box;
}

.cardButtons {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}

.cardButtons button {
    position: relative;
    border: none;
    padding: 0.3em;
    background-color: transparent;
    font-weight: 500;
    color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cardButtons button:hover {
    opacity: 0.8;
}

.card {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}