.sidebar {
    background-color: var(--bg-color);
    min-width: 230px;
    box-shadow: var(--card-shadow);
    height: calc(100vh - 2em);
    padding: 1em;
    border-right: var(--color-default);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    width: 100%;
}

.list a, .list a:active, .list a:visited {
    color: var(--text);
    text-decoration: none;
    width: 100%;
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

.list a:hover {
    background-color: rgb(245, 186, 186, 0.1);
}